
@{
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
    ViewBag.Title = "Index";
}

<link href="~/Content/NguoiDungLayoutCss/NguoiDungLayoutCss.css" rel="stylesheet" />
<div class="HuongDan-main-title"><h2>HƯỚNG DẪN</h2></div>
<div class="HuongDan-detail">
    <div class="HuongDan-menber1">
        <div class="HuongDan-img1">
            <img src="~/HinhAnhHuongDanThue/a112.png" />
        </div>
        <div class="HuongDan-info1">
            <h1>1.Đăng nhập</h1>
            <p>
                Đăng nhập vào trang qua Facebook, Google, số điện thoại hoặc <br />email của bạn.
                Chúng tôi cần bạn xác thực số điện thoại trước <br />khi đặt xe.
            </p>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="HuongDan-menber2">
        <div class="HuongDan-img2">
            <img src="~/HinhAnhHuongDanThue/a11.png" />
        </div>
        <div class="HuongDan-info2">
            <h1>2.Tìm xe</h1>
            <p>Bạn có thể tìm xe ưng ý nhanh chóng ở nơi bạn muốn tìm, thời gian,<br /> hãng xe, đặt xe nhanh</p>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="HuongDan-menber1">
        <div class="HuongDan-img1">
            <img src="~/HinhAnhHuongDanThue/a113.png" />
        </div>
        <div class="HuongDan-info1">
            <h1>3.Đặt xe</h1>
            <p>Lựa chọn chiếc xe mà bạn ưng ý và gửi Yêu cầu xe đến Chủ xe.<br /> Sau đó chủ xe sẽ nhanh chóng phản hồi đến bạn trong thời <br />gian nhanh nhất.</p>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="HuongDan-menber2">
        <div class="HuongDan-img2">
            <img src="~/HinhAnhHuongDanThue/a114.png" />
        </div>
        <div class="HuongDan-info2">
            <h1>4.Đặt cọc</h1>
            <p>Sau khi nhận được sự đồng ý từ chủ xe, khách hàng có thể đặt cọc <br />bằng 3 hình thức chuyển khoản, ví điện tử hoặc tiền mặt.</p>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="HuongDan-menber1">
        <div class="HuongDan-img1">
            <img src="~/HinhAnhHuongDanThue/a115.png" />
        </div>
        <div class="HuongDan-info1">
            <h1>5.Nhận xe</h1>
            <p>
                Bạn và chủ xe liên hệ gặp nhau để nhận xe. Ở Mioto, có nhiều chủ xe <br />sẵn sàng đem xe đến tận nơi cho bạn.

                Kiểm tra tình trạng và giấy tờ <br />xe, xuất trình bản gốc các giấy tờ, kí xác nhận biên bản giao xe, nhận <br />chìa khóa và bắt đầu hành trình của bạn
            </p>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="HuongDan-menber2">
        <div class="HuongDan-img2">
            <img src="~/HinhAnhHuongDanThue/a116.png" />
        </div>
        <div class="HuongDan-info2">
            <h1>6.Trả xe</h1>
            <p>Sau khi hết thời gian thuê, bạn hoàn trả xe giống như tình trạng và <br />thỏa thuận ban đầu. Kí xác nhận biên bản bàn giao, nhận lại giấy <br />tờ để hoàn thành chuyến đi tuyệt vời của bạn.</p>
        </div>
    </div>
    <div style="clear:both"></div>
</div>
<style>
    .HuongDan{
        display:none;
    }
</style>
